{% extends '::base.html.twig' %}

{% block body -%}
<div class="page">
    <h1>result</h1>
    <p>Your First name: {{ entity.firstname }}</p>
    <p>Your Second name: {{ entity.secondname }}</p>
    <ul class="record_actions">
        <li>
            <a href="{{ path('fsname_new') }}">Back</a>
        </li>
    </ul>
</div>
{% endblock %}
