{% extends '::base.html.twig' %}

{% block body -%}

	<ul class="record_actions">
        <li>
            <a href="{{ path('art_list') }}">Завдання 2 [Entity+CRUD+Fixture]</a>
        </li>
        <li>
            <a href="/text">Завдання 3 [проста сторінка з текстом]</a>
        </li>
        <li>
            <a href="{{ path('fsname_new') }}">Завдання 4 [f-, s-name](через таблицю)</a>
        </li>
        <li>
            <a href="/name">Завдання 4' [f-, s-name](через POST: не доробив - важко розібратись)</a>
        </li>
    </ul>

{% endblock %}